.App {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px solid black;
}

.left-part {
  width: 40%;
  border-right: 1px solid black;
}

.right-part {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-left: 1px solid black;
}

.right-part .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.right-part .header .month-picker {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 5%;
}

.right-part .header button {
  outline: none;
}

.right-part .header .month-picker p {
  text-align: center;
  margin: 0 2%;
}